<a href="https://colab.research.google.com/github/arockingvirus/test/blob/master/Copy_of_Multi_Linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# https://www.kaggle.com/anthonypino/melbourne-housing-market?select=Melbourne_housing_FULL.csv

In [ ]:
import pandas as pd
df = pd.read_csv('/content/Melbourne_housing_FULL.csv')
df.head()

       Suburb             Address  ...             Regionname Propertycount
0  Abbotsford       68 Studley St  ...  Northern Metropolitan        4019.0
1  Abbotsford        85 Turner St  ...  Northern Metropolitan        4019.0
2  Abbotsford     25 Bloomburg St  ...  Northern Metropolitan        4019.0
3  Abbotsford  18/659 Victoria St  ...  Northern Metropolitan        4019.0
4  Abbotsford        5 Charles St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [ ]:
df.shape

(34857, 21)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

In [ ]:
df.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [ ]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [ ]:
df = df[['Suburb', 'Rooms', 'Type', 'Method', 'SellerG',
       'Distance', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'CouncilArea', 'Regionname', 'Propertycount','Price']]

In [ ]:
df.head()

       Suburb  Rooms Type  ...             Regionname Propertycount      Price
0  Abbotsford      2    h  ...  Northern Metropolitan        4019.0        NaN
1  Abbotsford      2    h  ...  Northern Metropolitan        4019.0  1480000.0
2  Abbotsford      2    h  ...  Northern Metropolitan        4019.0  1035000.0
3  Abbotsford      3    u  ...  Northern Metropolitan        4019.0        NaN
4  Abbotsford      3    h  ...  Northern Metropolitan        4019.0  1465000.0

[5 rows x 15 columns]

In [ ]:
df.shape

(34857, 15)

In [ ]:
# Check for null values
df.isnull().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Distance             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        3
Price             7610
dtype: int64

In [ ]:
col = ['Distance','Bedroom2','Bathroom','Car','Propertycount']
df[col]=df[col].fillna(0)
df['Landsize'] = df['Landsize'].fillna(df['Landsize'].mean())
df['BuildingArea'] = df['BuildingArea'].fillna(df['BuildingArea'].mean())

In [ ]:
df.isnull().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Distance            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
CouncilArea         3
Regionname          3
Propertycount       0
Price            7610
dtype: int64

In [ ]:
df = df.dropna()
df.shape

(27244, 15)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27244 entries, 1 to 34856
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         27244 non-null  object
 1   Rooms          27244 non-null  int64
 2   Type           27244 non-null  object
 3   Method         27244 non-null  object
 4   SellerG        27244 non-null  object
 5   Distance       27244 non-null  float64
 6   Bedroom2       27244 non-null  float64
 7   Bathroom       27244 non-null  float64
 8   Car            27244 non-null  float64
 9   Landsize       27244 non-null  float64
 10  BuildingArea   27244 non-null  float64
 11  CouncilArea    27244 non-null  object
 12  Regionname     27244 non-null  object
 13  Propertycount  27244 non-null  float64
 14  Price          27244 non-null  float64
dtypes: float64(8), int64(1), object(6)
memory usage: 3.3+ MB

In [ ]:
df = pd.get_dummies(df,drop_first=True)
df

       Rooms  ...  Regionname_Western Victoria
1          2  ...                            0
2          2  ...                            0
4          3  ...                            0
5          3  ...                            0
6          4  ...                            0
...      ...  ...                          ...
34852      4  ...                            0
34853      2  ...                            0
34854      2  ...                            0
34855      3  ...                            0
34856      2  ...                            0

[27244 rows x 745 columns]

In [ ]:
# Taking input and output
x = df.drop('Price',axis=1)
y = df['Price']

In [ ]:
# Splitting of data into training and testing
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=2)

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
y_pred

array([1672988.74421917, 1086049.72134283,  852828.79001801, ...,
        891754.56465209,  783898.88694277, 1170611.74698099])

In [ ]:
model.score(x_train,y_train)

0.6827792395792723

In [ ]:
model.score(x_test,y_test)

0.13853683161630603

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_pred,y_test)

0.33034482072590987

In [ ]:
# Overfit : If training accuracy is good and test accuracy is bad

In [ ]:
#y=mx+c+error

In [ ]:
# Regularization Technique
# L1 and L2 Regularization

# Lasso Regression
# Ridge Regression

In [ ]:
from sklearn.linear_model import Lasso
model = Lasso(alpha=10,max_iter=10)
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
model.score(x_test,y_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1290156961438523.2, tolerance: 796258688308.2258
  positive)

0.5837416718689052

In [ ]:
model.score(x_train,y_train)

0.6809656950285101